#container{
    width: 400px;
    background-color: rgb(47, 206, 206);
    padding: 20px;
}

input{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.kisiler{
    margin: 15px;

}
.list , li{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin-bottom: 2px;
}

.list , li:hover{
    color: blueviolet;
}

.addkisi{
    color: blueviolet;
    font-size: xx-large;
    font-style: italic;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Normal durum */
  .btn {
    background-color: #7c0606;
    color: #ffffff;
  }
  
  /* Hover durumu */
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Aktif durum (tıklama) */
  .btn:active {
    background-color: #1f618d;
  }

.toplamkisi{
    color: yellow;
}