body {
  font-family: "Arial", sans-serif;
  /* line-height: 1.6; */
  background-color: #072b3f;
  color: #333;
  margin: 0;
  padding: 0;
}

#container {
  width: 350px;
  height: 100%;
  background-color: rgb(47, 206, 206);
  padding: 20px;
  border-radius: 55px;
  /* text-align: left; */
  /* justify-self: center; */
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input:focus {
  outline: none;
  border: red dotted 2px;
  /* border-color: #2a72be; */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list,
li {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  margin-bottom: 2px;
}

.list,
li:hover {
  color: blueviolet;
}

.addkisi {
  padding: 10px;
  margin: 1px;
  color: blueviolet;
  /* font-size: xx-large; */
  font-style: bold;
}

.btn {
  background-color: #7c0606;
  color: #ffffff;
  display: inline-block;
  padding: 18px 55px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  justify-self: center;
}

/* Hover durumu */
.btn:hover {
  background-color: #2980b9;
}

/* Aktif durum (tıklama) */
.btn:active {
  background-color: #1f618d;
}

.toplamkisi {
  color: yellow;
}
